<div class="big-card-container">
  <div class="big-card-picture">
    <img
      src="https://images7.alphacoders.com/118/1189484.jpg"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card-title">
    <h1>
      <a href="#">Inazuma se liberta do Shogunato</a>
    </h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#" class=""
        >Após uma grande batalha entre os exércitos do Shogunato contra o
        exército da Resistência liderados pela General Kokomi, o Shogunato acaba
        com o programa de caça às visões.</a
      >
    </p>
  </div>
</div>
