<header><app-menu-bar></app-menu-bar></header>
<app-menu-title> </app-menu-title>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      photoCover="https://images7.alphacoders.com/118/1189484.jpg"
      cardTitle="Inazuma se liberta do Shogunato"
      cardDescription="Após uma grande batalha entre os exércitos do Shogunato contra o exército da Resistência liderados pela General Kokomi, o Shogunato acaba com o programa de caça às visões."
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      photoCover="https://preview.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-327axiwu8cab1.jpg?width=3840&format=pjpg&auto=webp&s=baf05f186148e2d9de5ae7fdb67c1614c1a3237a"
      cardTitle="Teoria: Arconte Anemo está vivo e vivendo entre o povo de Mondstadt."
    ></app-small-card>
    <app-small-card
      photoCover="https://preview.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-hysiasdt8cab1.jpg?width=1080&crop=smart&auto=webp&s=e15b74d9304d484eac6f815d9feaf69df311dc87"
      cardTitle="Bomba! Morax aparece morto durante cerimônia anual em Liyue."
    ></app-small-card>
    <app-small-card
      photoCover="https://i.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-1fdow92y8cab1.jpg?width=3840&format=pjpg&auto=webp&s=b32246cc1dbb4e32fc2fcbec613155917b240813"
      cardTitle="Estamos sendo vigiados? Relatório da academia indica 'vigia' de dados cerebrais atravez da Akasha. "
    ></app-small-card>
  </div>
</div>
