<app-menu-title> </app-menu-title>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      Id="1"
      photoCover="https://images7.alphacoders.com/118/1189484.jpg"
      cardTitle="Inazuma: A Terra do Relâmpago e da Tradição"
      cardDescription="Conheça dobre as curiosidades de Inazuma, a região onde o viagente enfrentou a arconte com as próprias mãos para libertar o povo da caça às visões."
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      Id="2"
      photoCover="https://preview.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-327axiwu8cab1.jpg?width=3840&format=pjpg&auto=webp&s=baf05f186148e2d9de5ae7fdb67c1614c1a3237a"
      cardTitle="Mondstadt: O Encanto da Cidade da Lua em Teyvat"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://preview.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-hysiasdt8cab1.jpg?width=1080&crop=smart&auto=webp&s=e15b74d9304d484eac6f815d9feaf69df311dc87"
      cardTitle="Liyue: O Esplendor de uma Nação com 3.700 Anos de História"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://i.redd.it/my-genshin-wallpapers-so-far-looking-forward-to-fontaine-v0-1fdow92y8cab1.jpg?width=3840&format=pjpg&auto=webp&s=b32246cc1dbb4e32fc2fcbec613155917b240813"
      cardTitle="Sumeru: Um Encontro de Culturas no Mundo de Teyvat"
    ></app-small-card>
  </div>
</div>
